.catbox{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 50px;
}

ol{
    float: left;
}
ol li{
    float: left;
    width: 90px;
    position: relative;
    left: 25%;
    list-style-type: none;
    font-family: barlow condensed, sans-serif;
    font-size: 18px;
}
ol li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

ol li a:hover{
    border-bottom: 4px solid red;
}

.fa-search{
    position: absolute;
    left: 82%;
    top: 4%;
    color: black;
}

.fa-user{
    position: absolute;
    left: 85%;
    top: 4%;
    color: black;
}

.fa-shopping-cart{
    position: absolute;
    left: 88%;
    top: 4%;
    color: black;
    width: 25px;
    height: -30px;
    border-radius: 100px;
    margin-top: -2px;
    margin-left: -4px;
}

.icon{
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.icon :hover{
    border-bottom: 4px solid red;
}