/* index */
/* header */
.flex-container{
    display: flex;
    width: 100%;
    height: 95px;
    background-color: white;
    justify-content: space-between;
}

.logo{
    width: 180px;
    /*margin-left: auto;
    margin-right: auto;*/
    justify-content: flex-start;
    height: auto;
}

header li{
    display: flex;
    display: inline;
    padding-left: 30px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: royalblue;
}

header ul #loginandsignup a{
    color: black;
    background-color:aliceblue;
    border-radius: 30px;
    float: right;
    position: relative;
    margin: 10px;
}

header ul #loginandsignup a:hover{
    background-color: grey;
}

/* body */
.bodyindex{
    margin: 0px;
    background-color: lightgray;
    color: white;
    text-align: center;
    /* can add font here */
}

.flex-container-nav{
    display: inline;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.flex-container-nav-li{
    display: inline;
}

body li a{
    /* font and font size */
    color: black;
    text-decoration: none;
    padding: 13px;
}

body li a:hover{
    color: royalblue;
}
